[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "{{ project_name }}"
version = "0.1.0"
description = "{{ description }}"
authors = [
    {name = "{{ author_name }}", email = "{{ author_email }}"}
]
readme = "README.md"
license = {file= "{%- if license != "None" -%}LICENSE{%- endif -%}"}
requires-python = ">={{ python_version }}"
dependencies = [
    "torch>=2.10",
    "torchvision>=0.25.0",
    "tqdm",
    "matplotlib>=3.10",
    "ipykernel>=7.2.0",
    "python-dotenv>=1.2.2",
    "numpy>=2.4.6",
    "hydra-core>=1.3.2",
    "wandb",
]

[project.optional-dependencies]
dev = [
    "pre-commit",
    "ruff",
    "pytest"
]

[tool.hatch.build.targets.wheel]
packages = ["src/{{ package_name }}"]

[tool.pytest.ini_options]
testpaths = ["tests"]
pythonpath = []

[tool.ruff]
line-length = 120

[tool.ruff.lint]
select = ["E", "F", "I", "B", "N"]
ignore = ["N806", "N803", "N812"]

[tool.ruff.format]
docstring-code-format = true
docstring-code-line-length = 20

[tool.ruff.lint.flake8-tidy-imports]
ban-relative-imports = "all"

[tool.ruff.lint.per-file-ignores]
"scripts/**/*.py" = ["E402"]



